/*styles for the entire pplication */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #242424;
  color: rgba(171, 73, 236, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
